:root, html, body {
	--light: #FAFAFA;
	--dark: #0b031b;
	--dark-light: #1e113b;
	--dark-vibrant: #250b5a;
	--accent: #2972FF;
	--accent-secondary: #1caacc;
	--bg-light: #E9E9E9;
	--bg-dark: #222;
	--text-accent: #250b5a;
}