/* Aside */

.aside {
    position: fixed;
    display: grid;
    width: 100%;
    background-color: var(--bg-light);
}

@media (min-width: 800px) {
    .aside {
        width: 220px;
        height: 100%;
        /*grid-template-columns: max-content max-content;*/
        grid-template-rows: min-content 1fr min-content;
        justify-content: space-between;
        background-color: var(--bg-light);
    }
}