/* Footer */

.footer {
    display: none;
}

@media (min-width: 800px) {
    .footer {
        display: grid;
        width: 100%;
        padding: 8px;
    }
}

.footer__line {
    font-size: .75rem;
    line-height: 1rem;
    margin: 0;
}