/* Header */

.header {
    /*position: fixed;*/
    background-color: var(--accent);
    display: grid;
    padding: 8px;
}

@media (min-width: 800px) {
    .header {
        grid-template-columns: max-content max-content;
        justify-content: space-between;
    }
}

/* Logo */

@media (max-width: 800px) {
    .header__logo {
        z-index: 1;
    }
}

@media (min-width: 800px) {
    .header__logo {
        align-self: start;
    }
}

/* Menu */

@media (max-width: 800px) {
    .header__menu {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
}

@media (min-width: 800px) {
    .header__menu {
        align-self: center;
    }
}