.main {
    padding-top: 48px;
    min-height: 100vh;
}

@media (min-width: 800px) {
    .main {
        padding-top: 0;
        margin-left: 220px;
    }

}

.main nav {
    display: none;
}

@media (min-width: 800px) {
    .main nav {
        display: flex;
        background-color: var(--accent);
        padding: 0 30px;
    }
}

.main section {
    padding: 30px;
}
